<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de Carros</title>
  </head>
  <body>
    <h1>Lista de Carros</h1>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Modelo</th>
        <th>Ano</th>
        <th>Marca</th>
        <th>Disponibilidade</th>
      </tr>
      {% for carro in carros %}
      <tr>
        <td>{{ carro.ID }}</td>
        <td>{{ carro.MODELO }}</td>
        <td>{{ carro.ANO }}</td>
        <td>{{ carro.MARCA }}</td>
        <td>{{ carro.DISPONIBILIDADE }}</td>
      </tr>
      {% endfor %}
    </table>
    <a href="/">Voltar</a>
  </body>
</html>
