<!-- Modal para Alugar Carro -->
<div
  class="modal fade"
  id="rentCarModal"
  tabindex="-1"
  aria-labelledby="rentCarModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-surface text-gray-200">
      <div class="modal-header border-b border-gray-700">
        <h5 class="modal-title text-primary" id="rentCarModalLabel">
          Alugar Carro
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          id="rentCarForm"
          action="/alugar_carro/{{ carro.ID }}"
          method="post"
          class="space-y-4"
        >
          <input type="hidden" id="carroIdInput" name="carro_id" />

          <div class="mb-3">
            <label for="cliente" class="form-label text-gray-400"
              >Cliente</label
            >
            <select
              id="cliente"
              name="id_cliente"
              class="form-control bg-blue-900 text-white border-gray-700"
              required
            >
              {% for cliente in clientes %}
              <option value="{{ cliente.ID }}">{{ cliente.NOME }}</option>
              {% endfor %}
            </select>
          </div>

          <!-- Data de Locação -->
          <div class="mb-3">
            <label for="data_locacao" class="form-label text-gray-400"
              >Data de Locação</label
            >
            <input
              type="date"
              id="data_locacao"
              name="data_locacao"
              class="form-control bg-blue-900 text-white border-gray-700"
              required
            />
          </div>

          <!-- Data de Retorno -->
          <div class="mb-3">
            <label for="data_retorno" class="form-label text-gray-400"
              >Data de Retorno</label
            >
            <input
              type="date"
              id="data_retorno"
              name="data_retorno"
              class="form-control bg-blue-900 text-white border-gray-700"
              required
            />
          </div>

          <!-- Valor da Diária -->
          <div class="mb-3">
            <label for="valor_diaria" class="form-label text-gray-400"
              >Valor da Diária</label
            >
            <input
              type="text"
              id="valor_diaria"
              name="valor_diaria"
              class="form-control bg-blue-900 text-white border-gray-700"
              required
            />
          </div>

          <!-- Botão de Alugar -->
          <button
            type="submit"
            class="w-full bg-primary text-white py-2 px-4 rounded-lg hover:bg-primary-600 transition duration-300"
          >
            Alugar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
